@import "../../assets/scss/base/variables";
@import "../../assets/scss/base/mixins";

.page-cart {
  margin-top: 50px;
  .page-cart-wrapper {
    .page-cart-products {
      margin-top: 30px;
      .cart-checkout-btn,
      .cart-shopping-btn {
        width: 100%;
        padding: 11px;
        cursor: pointer;
        outline: none;
        transition: all 0.2s linear;
      }

      .cart-checkout-btn {
        color: white;
        background-color: black;
        border-color: transparent;
        &:hover {
          background-color: map-get($colors, bg-primary);
          border-color: transparent;
        }
      }

      .cart-shopping-btn {
        background-color: transparent;
        &:hover {
          background-color: black;
          border-color: black;
          color: white;
        }
      }
    }
  }
}
