@import "../../assets/scss/base/variables";
@import "../../assets/scss/base/mixins";

.page-home {
  .product-content-icon {
    display: flex;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    .addToCart-form {
      display: none;
    }

    li {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: map-get($colors, border-gray);
      @include flex(center, center);
      cursor: pointer;

      &:not(:nth-child(2)) {
        color: map-get($colors, txt-gray-dark);
      }

      button {
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
  }
  .section-slide-show {
    margin-top: 0;
    &-list {
      .slick-slider {
        .slick-list {
          .slick-slide {
            div {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }

    @include respond-below(large-largest) {
      padding-left: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .section-shopify {
    &-list {
      display: flex;

      @include respond-below(medium) {
        flex-wrap: wrap;
      }
    }
    &-item {
      position: relative;
      overflow: hidden;

      @include respond-below(medium) {
        width: 100%;
        margin-right: 0 !important;
        @include pxRem(margin-top, 30);

        img {
          width: 100%;
          height: auto;
        }
      }

      &::after {
        content: "";
        display: inline-block;
        width: 150%;
        height: 80%;
        position: absolute;
        top: -75%;
        right: 32%;
        background: rgba(255, 255, 255, 0.15);
        -webkit-transform: skewY(-50deg);
        -ms-transform: skewY(-50deg);
        transform: skewY(-50deg);
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }

      &:hover::after {
        top: 220%;
        right: 0;
      }
    }
  }

  .section-policy {
    &-list {
      display: flex;
      @include respond-below(medium) {
        flex-wrap: wrap;
      }
    }
    &-item {
      display: flex;
      align-items: center;

      &:hover .section-policy-img {
        transform: rotateY(360deg);
      }

      @include respond-below(medium) {
        width: 100%;
        @include pxRem(margin-top, 15);
      }
    }
    &-icon {
      background-image: url("../../assets/images/home/bg-policy.webp");
      background-repeat: no-repeat;
      width: 85px;
      height: 85px;
      min-width: 85px;
      line-height: 85px;

      @include flex(center, center);
    }
    &-img {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .block-title {
      text-transform: uppercase;
    }
  }

  .section-best-food {
    @include respond-below(wide) {
      &-item {
        &:first-child,
        &:last-child {
          width: 25%;
        }
        &:nth-child(2) {
          width: 50%;
        }
      }
    }
    @include respond-below(medium) {
      &-list {
        flex-wrap: wrap;
      }
      &-item {
        width: 100% !important;
      }
    }

    .section-bottom {
      position: relative;
      &::before {
        content: "";
        background-image: url("../../assets/images/home/bg-bf.png");
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        left: 0;
      }
    }
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-group {
      display: flex;
      flex-direction: column;
      &-left .section-best-food-group-item {
        text-align: left;
      }
      &-right .section-best-food-group-item {
        text-align: right;
      }
    }
    .block-title {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 800;
      font-family: Poppins, HelveticaNeue, Helvetica Neue, sans-serif;
      color: #78b144;
      line-height: 1;
      margin-top: 10px;
    }
  }

  .section-slide-show {
    &-item {
      width: 75% !important;
    }
  }

  .section-slide-show,
  .section-flash-deal {
    .slick-dots {
      bottom: 25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%);
      width: inherit;
      height: 24px;

      li button {
        width: 20px;
        height: 20px;
        cursor: pointer;
        display: inline-block;
        padding: 0;
        position: relative;
        outline: none;
        background-color: #0d7a52;
        font-size: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;

        &::before {
          display: none;
        }
      }
      li.slick-active button {
        background-color: transparent;
        border: 2px solid #ff9c00;
      }
    }
  }

  .section-discover-products {
  }

  .section-flash-deal {
    .slick-dots {
      bottom: -50px;
    }
    .btn-prod {
      display: none;
    }
    .dropdown-sale {
      display: block;
    }
    .section-products {
      &-item {
        background-color: map-get($colors, white);
        .prod-title,
        .prod-price {
          @include pxRem(font-size, 16 !important);
        }
        .prod-price {
          &-cost {
            color: #ff9c00;
            font-weight: 700;
          }
        }
      }
      &-img {
        min-width: 170px;
        width: 270px;
      }
    }
    .product-content-icon {
      overflow: visible;
      .addToCart-icon {
        display: none;
      }

      li {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: map-get($colors, border-gray);
        @include flex(center, center);
        cursor: pointer;

        &.addToCart-form {
          display: block;
          width: 120px;
          height: 40px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .section-collection {
    &-tabs {
      display: flex;
    }
    .dropdown-sale {
      display: none;
    }
    .slick-next,
    .slick-prev {
      &::before {
        color: map-get($colors, txt-gray-dark);
      }
    }
    .slick-prev {
      right: 100px;
      top: -40px;
    }
    .slick-next {
      right: 70px;
      top: -40px;
    }
    &-nav {
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
      text-transform: uppercase;
      background-color: #78b144;
      height: 45px;
      line-height: 45px;
      min-width: 150px;
      padding: 0 5px;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      border: none;
      text-align: center;
      // position: relative;
      white-space: nowrap;
      padding: 15px 24px;

      &.active {
        background-color: #0d7a52;
      }
    }
    .section-products {
      &-list {
        display: flex !important;
        justify-content: space-between;
      }
      &-item {
        flex-direction: column;
        padding: 30px 5px;

        &:nth-child(n + 3) {
          display: none;
        }
      }

      &-content {
        &.col-6 {
          width: 100% !important;
          margin-left: 0;
        }
      }
    }
    .product-content-icon {
      position: absolute;
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
    }
    .section-products-img {
      margin-bottom: 40px;
    }
    .col-20 {
      width: 20%;

      @include respond-below(medium) {
        width: 50%;
      }
    }
  }

  .section-banner {
    &-img {
      position: relative;

      // &::after {
      //   content: "";
      //   display: inline-block;
      //   width: 150%;
      //   height: 80%;
      //   position: absolute;
      //   top: -75%;
      //   right: 32%;
      //   background: rgba(255, 255, 255, 0.15);
      //   -webkit-transform: skewY(-50deg);
      //   -ms-transform: skewY(-50deg);
      //   transform: skewY(-50deg);
      //   -webkit-transition: all 0.35s ease;
      //   -moz-transition: all 0.35s ease;
      //   -ms-transition: all 0.35s ease;
      //   -o-transition: all 0.35s ease;
      //   transition: all 0.35s ease;
      // }

      .section-banner-img:hover::after {
        top: 120%;
        right: -75%;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -ms-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }
    }
  }

  .section-latest-post {
    .latest-post {
      &-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        @include respond-below(medium) {
          flex-wrap: wrap;
        }
      }
      &-item {
        margin-left: 20px;
        width: calc(100% / 3 - 20px);
        text-align: center;
        margin-bottom: 20px;

        &:last-child {
          margin-right: 0 !important;
        }
        &:hover img {
          -webkit-transform: scale(1.05, 1.05);
          -ms-transform: scale(1.05, 1.05);
          transform: scale(1.05);
        }

        img {
          height: 280px;
          object-fit: cover;
          width: 100%;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
        @include respond-below(medium) {
          &:not(:first-child) {
            display: none;
          }
          &.col-4 {
            width: 100%;
          }
        }
      }
      &-img {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
      }
      &-acticle {
        display: flex;
        justify-content: center;
      }
    }
    .acticle-item span {
      display: inline-block;
      color: #c8c8c8;
      font-size: 10px;
      text-transform: uppercase;
      text-transform: uppercase;
    }
  }

  .section-manufacture {
    .manufacture {
      &-list {
        display: flex;
        justify-content: space-between;
      }

      @include respond-below(wide) {
        &-list {
          flex-wrap: wrap;
          justify-content: center;
        }
        &-item {
          width: 33%;
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          &:nth-child(n + 4) {
            display: none;
          }
        }
      }

      @include respond-below(medium) {
        &-item {
          width: 50%;
          &:nth-child(n + 3) {
            display: none;
          }
        }
      }
    }
  }
}
