.page-product-detail {
  margin-top: 50px;

  .product-detail-img {
    height: 100%;
    img {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }

  .comments {
    width: 100%;
    .comment {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 100px;
    }
  }
}
